<template>
  <div style="padding: 50px;">
    <p>
      <button @click="getUsers">
        Get Users
      </button>
    </p>
    <p>{{ users }}</p>
    <hr />
    <p>
      <input v-model="searchTerm" />
    </p>
    <p>
      <button @click="findUser">
        Find User
      </button>
    </p>
    <p>{{ userSearchResult }}</p>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import api from '@/lib/api'
import IUser from '@/lib/IUser'
import IUserByNameRequest from '@/lib/IUserByNameRequest'

@Component({ })
export default class App extends Vue {
  searchTerm: string = 'Jeff'
  users: Array<IUser> = []
  userSearchResult: IUser | null = null

  getUsers() : void {
    api.get<Array<IUser>>('api/user/users')
      .then(response => {
        this.users = response.data
      })
  }
  findUser() : void {
    const request: IUserByNameRequest = {
      searchTerm: this.searchTerm
    }
    api.post<IUserByNameRequest, IUser>('api/user/by-name', request)
      .then(response => {
        this.userSearchResult = response.data
      })
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
